<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task 8</title>
</head>
<body>
<div style="text-align:center; background-color:#f1f1f1; padding:20px;">
    <p th:text="${'Hello, world, ' + name + '!'}" style="font-size: 24px; font-weight: bold;">VALUE</p>
    <p th:text="${result}" style="font-size: 18px;">VALUE</p>
    <p th:text="${'Square root of two: ' + sqrt}" style="font-size: 18px;">VALUE</p>
    <p style="font-size: 16px;"><a href="/task" style="color:#0000FF; text-decoration:none;">Return to the main page</a>.</p>
</div>
</body>
</html>