<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Error 404 - Page not found</title>
  <style>
    body {
      background-color: #f2f2f2;
      font-family: sans-serif;
      text-align: center;
    }
    h1 {
      font-size: 4rem;
      margin-top: 5rem;
      color: #333;
    }
    h2 {
      font-size: 2rem;
      margin-top: 2rem;
      color: #333;
    }
    p {
      font-size: 1.5rem;
      margin-top: 2rem;
      color: #555;
    }
    a {
      color: #007bff;
      text-decoration: none;
    }
  </style>
</head>
<body>
<h1>Error 404 - Page not found</h1>
<h2>In development, please wait</h2>
<p>Author: Derendyaev Dmitry || 211-722</p>
<p>University: Moscow Polytechnic</p>
<p>Try to <a href="/task">return to the main page</a>.</p>
</body>
</html>
