<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
    <style>
        body {
            background-color: #F9F9F9;
        }
        .container {
            margin-top: 50px;
            text-align: center;
        }
        .error {
            background-color: #FFE7E7;
            border: 1px solid #FF4040;
            border-radius: 5px;
            padding: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="error">
        <h2>Error!</h2>
        <p th:text="${message}"></p>
    </div>
    <p style="font-size: 16px;"><a href="/task/10" style="color:#0000FF; text-decoration:none;">Return to the task_10</a>.</p>
</div>
</body>
</html>